/Ejercicios/Ejercicio_4/nbproject/private/
/Ejercicios/Ejercicio_4/build/
/Ejercicios/Ejercicio_4/dist/
/Ejercicios/Ejercicio_5/nbproject/private/
/Ejercicios/Ejercicio_5/build/
/Ejercicios/Ejercicio_5/dist/
/Ejercicios/Ejercicio_6/nbproject/private/
/Ejercicios/Ejercicio_6/build/
/Ejercicios/Ejercicio_6/dist/
